@import "./reset.css";

:root {
  background-color: rgb(243, 244, 246);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  --backgroundColor: rgb(243, 244, 246);
  --backgroundCard: rgb(255, 255, 255);
  --backgroundBottomCard: rgb(248, 248, 248);
  --first-Child-Text-size: 1.2rem;
  --first-Child-Text-color: rgb(85, 85, 85);
  --second-Child-Text-color: rgb(162, 163, 171);

  color: rgb(78, 150, 31);

  display: flex;
  justify-content: center;
  align-items: stretch;
}

* {
  box-sizing: border-box;
}

body {
  --CardWidth: 300px;
  --CardHeight: calc(var(--CardWidth) * 1.5);
}

.mainContainer {
  width: 1000px;
  height: 100vh;
  background-color: var(--backgroundColor);

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  width: var(--CardWidth);
  height: var(--CardHeight);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--backgroundCard);
}

.upperCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: calc(var(--CardHeight) * 0.4);
  width: var(--CardWidth);
}

.bottomCard {
  height: calc(var(--CardHeight) * 0.6);
  width: var(--CardWidth);
  background-color: var(--backgroundBottomCard);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.UserPhoto {
  display: flex;
  position: relative;
}

.UserPhoto > img {
  width: calc(calc(var(--CardHeight) * 0.5) * 0.4);
  height: calc(calc(var(--CardHeight) * 0.5) * 0.4);
  border-radius: 50%;
}

.status {
  background-color: var(--backgroundCard);
  position: absolute;
  bottom: -13px;
  left: 33px;
  /* border: 1px solid green; */
  border-radius: 50%;
}

p:first-child {
  font-size: var(--first-Child-Text-size);
  font-weight: bold;
  color: var(--first-Child-Text-color);
  margin-top: 6%;
}

p:nth-child(2) {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--second-Child-Text-color);
  margin: 15px;
}

p:nth-child(3) {
  font-size: 0.9rem;
  color: var(--second-Child-Text-color);
  margin: 20px 15% 0;
}

.bottomCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  /* height: 350px; */
}

.linkButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  /* border: 1px solid black; */
  margin-top: auto;
}

.links {
  width: 100%;
  margin: auto;
}

/* .links > a { */
div > a {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  max-width: 200px;
  padding: 15px 0;
  border: 1px solid rgb(3, 155, 230);
  border-radius: 20px;
  margin: 2% 15%;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: rgb(3, 155, 230);
  font-size: 0.8rem;
  font-weight: bold;
}

.linkButtons > div:nth-of-type(2) > a {
  /* border: 1px solid red; */
  background-color: rgb(3, 155, 230);
  color: rgb(243, 244, 246);
}

.onlineStatus {
  margin: top;
  color: var(--first-Child-Text-color);
  text-align: center;
  padding-bottom: 7px;
}

.onlineStatusOnline {
  margin: top;
  text-align: center;
  padding-bottom: 7px;
}

.onlineStatusOnline > img {
  position: absolute;
  left: 120px;
  width: 13px;
  height: 13px;
}
